## Ejercicios

In [ ]:
# 1. Dada la siguiente lista y diccionario, utilice comprehensions para:
a_list = list(range(10))
digit_name = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
}

In [ ]:
# a) Valores en a_list multiplicados por 10

In [ ]:
# b) Triplos de los valores impares en a_list

In [ ]:
# c) Lista con los nombres de los digitos en a_list

In [ ]:
# d) Similar a c), pero los impares se substituyen por 'odd'

In [ ]:
# 1a. Entre un entero por teclado y haga una lista con los nombres de 
# sus digitos

In [ ]:
# 1b. Similar al anterior, pero imprimir los digitos separados por '-'

In [ ]:
# 2. Encuentre los numeros del 1 al 200 divisibles por 8

In [ ]:
# 3. Encuentre los numeros del 1 al 100 que tienen al menos un digito 6

In [ ]:
# 4. Encuentre los numeros del 1 al 1000 que tienen exactamente 
# dos digitos 4

In [ ]:
# 5. Remover las vocales de una cadena

In [ ]:
# 6. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que son divisibles por cualquier digito del 2 al 9

In [ ]:
# 7. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que no son divisibles por ningun digito del 2 al 9

In [ ]:
# 8. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que tienen exactamente dos divisores no triviales

In [ ]:
# 9. Cree un diccionario donde se asocie a cada numero del 1 al 1000
# el mayor digito por el que es divisible

In [ ]:
# 10. Basandose en el resultado anterior, genera un diccionario para la
# cantidad de veces que cada digito fue el seleccionado

In [ ]:
# 11. El siguiente codigo carga una lista de nombres de Marvel, bajada
# de Internet

In [ ]:
# a) Crea una lista con los nombres de los caracteres solamente

In [ ]:
# b) Algunos caracteres tienen varios nombres, separados por /. 
# Modifique la lista para que cada elemento sea una lista de estos
# valores. Elimine los valores vacios

In [ ]:
# c) Encuentre el o los heroes que tienen mayor cantidad de nombres

In [ ]:
# d) Elimine aquellos que el primer nombre tenga menos de 3 caracteres

In [ ]:
# e) Adicione a cada nombre de la lista anterior un '%' al inicio 
# y al final

In [ ]:
# 12. Ordene las letras iniciales mas utilizada en los nombres de los Avengers

### Iteradores

In [ ]:
# 13. Dada una lista de numeros, extraiga aquellos que tienen un 
# valor menor que su posición en la lista

In [ ]:
# 14. Extraiga de una lista los valores posteriores al primer numero par
# tip1: la funcion min() devuelve el minimo de una lista
# tip2: enumerate???

In [ ]:
# 15. Utilizando map y filter, obtenga la lista con el triplo de 
# los numeros entre 0 y 100 que son impares

In [ ]:
# 16. Dada las siguientes listas, encuentre la diferencia entre los 
# elementos que estan en las mismas posiciones

In [ ]:
# 17. Dada la siguiente lista de numeros

In [ ]:
# a) Encuentre la maxima suma entre dos elementos consecutivos

In [ ]:
# b) Encuentre la maxima suma entre tres elementos consecutivos

In [ ]:
# c) Encuentre los elementos consecutivos con suma maxima

In [ ]:
# d) Cree una nueva lista donde se le alternen los signos a
# los elementos

In [ ]:
# 18. Se lanza 10 veces una moneda. Cual es la probabilidad que 
# 3 lanzamientos consecutivos sean 'cara'?

In [ ]:
# 19. En una caja hay 10 medias negras, 20 rojas y 30 amarillas. Cual
# es la probabilidad que al sacar un par de medias sean del mismo 
# color

In [ ]:
# 20. En una caja hay k bolas con numeros del 1 a k. Cual es la 
# probabilidad que al sacar la mitad de las bolas estas sumen 
# igual o mas del doble que las otras

In [ ]:
# 21. Con las cifras 1, 2 y 3 cuántos números de 5 cifraspueden formarse?
# Cuántos son divisibles por 7?

In [ ]:
# 22. Una mesa presidencial está formada por ocho personas, 
# ¿de cuántas formas distintas se pueden sentar, si el presidente 
# y el secretario siempre van juntos?

## Respuestas
### Comprehensions

In [1]:
# 1. Dada la siguiente lista y diccionario, utilice comprehensions para:
a_list = list(range(10))
digit_name = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
}

In [4]:
for a in a_list:
    print(a)

0
1
2
3
4
5
6
7
8
9

In [8]:
def xxx(n):
    return n*10

# a) Valores en a_list multiplicados por 10
[xxx(a) for a in a_list]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
list(map(lambda x: 3*x, filter(lambda x: x % 2 == 1, a_list)))

[3, 9, 15, 21, 27]

In [9]:
# b) Triplos de los valores impares en a_list
[a*3 for a in a_list if a % 2 == 1]

[3, 9, 15, 21, 27]

In [13]:
[a for a in a_list]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
l2 = [3, 3, 12, 8]
# c) Lista con los nombres de los digitos en a_list
[digit_name[a] for a in l2 if a in digit_name]

['three', 'three', 'eight']

In [20]:
def mi_map(d):
    return digit_name[d] if d%2==0 else 'odd'

# d) Similar a c), pero los impares se substituyen por 'odd'
[mi_map(a) for a in a_list]

['zero', 'odd', 'two', 'odd', 'four', 'odd', 'six', 'odd', 'eight', 'odd']

In [21]:
# también puede hacerse con una función
def get_name(d):
    if d % 2 == 1:
        return "odd"
    return digit_name[d]
[get_name(a) for a in a_list]

['zero', 'odd', 'two', 'odd', 'four', 'odd', 'six', 'odd', 'eight', 'odd']

In [22]:
# 1a. Entre un entero por teclado y haga una lista con los nombres de 
# sus digitos
number = input("Entre numero:").strip()
[digit_name[int(n)] for n in number]

Entre numero:2345

['two', 'three', 'four', 'five']

In [23]:
# 1b. Similar al anterior, pero imprimir los digitos separados por '-'
number = input("Entre numero:")
"-".join([digit_name[int(n)] for n in number])

Entre numero:234

'two-three-four'

In [24]:
"lolo".join(['aaaa', 'eeee', 'iiii'])

'aaaaloloeeeeloloiiii'

In [27]:
list(range(8, 201, 8))

[8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96,
 104,
 112,
 120,
 128,
 136,
 144,
 152,
 160,
 168,
 176,
 184,
 192,
 200]

In [25]:
# 2. Encuentre los numeros del 1 al 200 divisibles por 8
[x for x in range(1,201) if x % 8 == 0]

[8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96,
 104,
 112,
 120,
 128,
 136,
 144,
 152,
 160,
 168,
 176,
 184,
 192,
 200]

In [28]:
# 3. Encuentre los numeros del 1 al 100 que tienen al menos un digito 6
[x for x in range(1,101) if '6' in str(x)]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [29]:
# - otra variante mas matematica
def has_digit(n, digit):
    while n > 0:
        r = n % 10
        if r == digit:
            return True
        n = n // 10
    return False

[x for x in range(1,101) if has_digit(x, 6)]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [30]:
# 4. Encuentre los numeros del 1 al 1000 que tienen exactamente 
# dos digitos 4
def count_digit(n, digit):
    result = 0
    while n > 0:
        r = n % 10
        if r == digit:
            result += 1
        n = n // 10
    return result

print([x for x in range(1001) if count_digit(x, 4) == 2])

[44, 144, 244, 344, 404, 414, 424, 434, 440, 441, 442, 443, 445, 446, 447, 448, 449, 454, 464, 474, 484, 494, 544, 644, 744, 844, 944]

In [31]:
# 5. Remover las vocales de una cadena
cadena = "la vaca lola tiene cabeza y tiene cola"
"".join((v for v in cadena if v not in 'aeiouAEIOU'))

'l vc ll tn cbz y tn cl'

In [33]:
# 6. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que son divisibles por algun digito del 2 al 9
l = [n for n in range(1, 201) if any([n%d == 0 for d in range(2,10)])]
print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200]

In [36]:
# 7. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que no son divisibles por ningun digito del 2 al 9
l = [n for n in range(1, 1201) if all(n%d == 0 for d in range(2,10))]
print(l)

[]

In [37]:
# 8. Utilice una comprehension anidada para encontrar todos los numeros
# de 1 a 200 que tienen exactamente dos divisores no triviales 
l = [n for n in range(1, 201) 
     if sum([1 for d in range(1,200) if n%d == 0]) == 4]
print(l)

[6, 8, 10, 14, 15, 21, 22, 26, 27, 33, 34, 35, 38, 39, 46, 51, 55, 57, 58, 62, 65, 69, 74, 77, 82, 85, 86, 87, 91, 93, 94, 95, 106, 111, 115, 118, 119, 122, 123, 125, 129, 133, 134, 141, 142, 143, 145, 146, 155, 158, 159, 161, 166, 177, 178, 183, 185, 187, 194]

In [40]:
{x:2*x for x in range(1, 21)}

{1: 2,
 2: 4,
 3: 6,
 4: 8,
 5: 10,
 6: 12,
 7: 14,
 8: 16,
 9: 18,
 10: 20,
 11: 22,
 12: 24,
 13: 26,
 14: 28,
 15: 30,
 16: 32,
 17: 34,
 18: 36,
 19: 38,
 20: 40}

In [ ]:
# 9. Cree un diccionario donde se asocie a cada numero del 1 al 1000
# el mayor digito por el que es divisible
max_divisor = {num:max([divisor for divisor in range(1,10) 
                        if num % divisor == 0]) 
     for num in range(1,1001)}
max_divisor

In [ ]:
# 10. Basandose en el resultado anterior, genera un diccionario para la
# cantidad de veces que cada digito fue el seleccionado

{n:sum((1 for v in max_divisor.values() if v == n)) for n in range(1,10)}

In [41]:
# 11. El siguiente codigo carga una lista de nombres de Marvel, bajada
# de Internet
with open('data/Marvel-names.txt', 'r', encoding='iso-8859-1',
                 errors='ignore') as f:
    lines = f.readlines()
lines[:10]

['1 "24-HOUR MAN/EMMANUEL"\n',
 '2 "3-D MAN/CHARLES CHAN"\n',
 '3 "4-D MAN/MERCURIO"\n',
 '4 "8-BALL/"\n',
 '5 "A"\n',
 '6 "A\'YIN"\n',
 '7 "ABBOTT, JACK"\n',
 '8 "ABCISSA"\n',
 '9 "ABEL"\n',
 '10 "ABOMINATION/EMIL BLO"\n']

In [42]:
# a) Crea una lista con los nombres de los caracteres solamente
def process_line(l):
    idx1 = l.find('"')
    l = l[idx1+1:]
    idx2 = l.find('"')
    return l[:idx2].strip()
names = [process_line(l) for l in lines]
names[1:10]

['3-D MAN/CHARLES CHAN',
 '4-D MAN/MERCURIO',
 '8-BALL/',
 'A',
 "A'YIN",
 'ABBOTT, JACK',
 'ABCISSA',
 'ABEL',
 'ABOMINATION/EMIL BLO']

In [43]:
# b) Algunos caracteres tienen varios nombres, separados por /. 
# Modifique la lista para que cada elemento sea una lista de estos
# valores. Elimine los valores vacios
all_names = [[v for v in n.split("/") if len(v)>0] for n in names]
all_names[:10]

[['24-HOUR MAN', 'EMMANUEL'],
 ['3-D MAN', 'CHARLES CHAN'],
 ['4-D MAN', 'MERCURIO'],
 ['8-BALL'],
 ['A'],
 ["A'YIN"],
 ['ABBOTT, JACK'],
 ['ABCISSA'],
 ['ABEL'],
 ['ABOMINATION', 'EMIL BLO']]

In [44]:
# c) Encuentre el o los heroes que tienen mayor cantidad de nombres
max_cant = max((len(n) for n in all_names))
print(max_cant)
more_names = [v for v in all_names if len(v) == max_cant]
more_names[:30]

3

[['DEADPOOL', 'JACK', 'WADE W'],
 ['EFFIGY', 'LT. VELMAX', 'JA'],
 ['ENCHANTRESS', 'AMORA', 'HE'],
 ['FIREWALL', 'THEARY', 'MIN'],
 ['FLASH', 'BARRY ALLEN', 'BU'],
 ['KUKULCAN', 'VIRAKO', 'QUET'],
 ['MAGNETO', 'MAGNUS', 'ERIC'],
 ['MAKKARI', 'MIKE KHARY', 'I'],
 ['MONSTROID', 'BALIOX', '7NH'],
 ['PSYCHE II', 'PSYKOS', 'RON'],
 ['SHRIEK', 'SANDRA DEEL', 'F'],
 ['SKYMAX', "SK'YM'X", 'JAMES'],
 ['SNOWBIRD', 'NARYA', 'ANNE'],
 ['VENUS', 'APHRODITE', 'VICT'],
 ['M', 'CP 160', '4'],
 ['M', 'VS 1', '4'],
 ['M', 'SH3 11', '2'],
 ['M', 'FAN 14', '2'],
 ['M', 'CP 69', '2'],
 ['M', 'CP 70', '2'],
 ['M', 'CO 71', '2'],
 ['M', 'SH3 10', '2'],
 ['M', 'CP 27', '4'],
 ['M', 'FEA 1', '3'],
 ['M', 'CP 97', '4'],
 ['M', 'CP 85', '3'],
 ['M', 'TALES 30', '2'],
 ['M', 'CP 89', '4'],
 ['M', 'SH3 7', '2'],
 ['M', 'S&L ', '3']]

In [ ]:
# d) Elimine aquellos que el primer nombre tenga menos de 3 caracteres
selected = [m for m in more_names if len(m[0]) > 2]
selected

In [ ]:
# e) Adicione a cada nombre de la lista anterior un '%' al inicio 
# y al final
[['%'+n+'%' for n in m] for m in selected]

In [ ]:
# 12. Ordene las letras iniciales mas utilizada en los nombres de los Avengers
import itertools as it

letras_iniciales = ["".join(l[0] for l in n) for n in all_names]
# antes de agrupar, hay que ordenar
ordenadas = sorted("".join(letras_iniciales))
grupos = [(k, len(list(v))) for k, v in it.groupby(ordenadas)]
sorted([g for g in grupos if g[0].isalpha()], key=lambda x: -x[1])

### Iteradores

In [45]:
# 13. Dada una lista de numeros, extraiga aquellos que tienen un 
# valor menor que su posición en la lista
lst = [2, 4, 3, 1, 7, 6, 5]
[l for idx, l in enumerate(lst) if l<idx]

[1, 5]

In [ ]:
# 14. Extraiga de una lista los valores posteriores al primer numero par
# tip1: la funcion min() devuelve el minimo de una lista
# tip2: enumerate???
lst = [3, 5, 7, 2, 9, 23, 34, 14]
first_par_idx = min([idx for idx, l in enumerate(lst) if l%2 == 0])
lst[first_par_idx+1:]

In [ ]:
# 15. Utilizando map y filter, obtenga la lista con el triplo de 
# los numeros entre 0 y 100 que son impares
result = list(map(lambda x: 3*x, filter(lambda x: x % 2 == 1, range(101))))
print(result)

In [ ]:
# 16. Dada las siguientes listas, encuentre la diferencia entre los 
# elementos que estan en las mismas posiciones
l1 = [16, 21, 29, 98, 14, 88, 47, 34, 93] 
l2 = [97, 5, 68, 31, 18, 98, 29, 77, 70]
[x - y for x, y in zip(l1, l2)]

In [49]:
l1 = [16, 21, 29, 98, 14, 88, 47, 34, 93] 
list(x-y for x, y in zip(l1, l1[1:]))

[-5, -8, -69, 84, -74, 41, 13, -59]

In [51]:
# 17. Dada la siguiente lista de numeros
vals = [16, 21, 29, 98, 14, 88, 47, 34, 93, 19, 17, 37, 84, 61, 
     97, 5, 68, 31, 18, 98, 29, 77, 70, 21, 15, 16, 62, 3, 54, 73]

In [52]:
# a) Encuentre la maxima suma entre dos elementos consecutivos
max(v1 + v2 for v1, v2 in zip(vals, vals[1:]))

158

In [53]:
# b) Encuentre la maxima suma entre tres elementos consecutivos
max(v1 + v2 + v3 for v1, v2, v3 in zip(vals, vals[1:], vals[2:]))

242

In [54]:
# c) Encuentre los elementos consecutivos con suma maxima
ordered = sorted(((v1, v2, v1 + v2) for v1, v2 in zip(vals, vals[1:])), 
      key=lambda x: -x[2])
ordered[0]

(61, 97, 158)

In [ ]:
# d) Cree una nueva lista donde se le alternen los signos a
# los elementos
print([x*sgn for x,sgn in zip(vals, it.cycle([1, -1]))])

In [65]:
import itertools as it
tiradas = ["".join(v) for v in it.product('ce', 'ce', 'ce', 'ce')]
[v for v in tiradas if 'cc' in v]

['cccc', 'ccce', 'ccec', 'ccee', 'cecc', 'eccc', 'ecce', 'eecc']

In [66]:
# 18. Se lanza 10 veces una moneda. Cual es la probabilidad que 
# 3 lanzamientos consecutivos sean 'cara'?
opts = ("".join(opt) for opt in it.product(*('ce' for _ in range(10))))
positive = ['ccc' in o for o in opts]
sum(positive) / len(positive)

0.5078125

In [67]:
# 19. En una caja hay 10 medias negras, 20 rojas y 30 amarillas. Cual
# es la probabilidad que al sacar un par de medias sean del mismo 
# color
all_set = 'n' * 10 + 'r' * 20 + 'a' * 30
print(all_set)
positive = [c1 == c2 for c1, c2 in it.combinations(all_set, 2)]
sum(positive) / len(positive)

nnnnnnnnnnrrrrrrrrrrrrrrrrrrrraaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

0.3785310734463277

In [ ]:
# 20. En una caja hay k bolas con numeros del 1 a k. Cual es la 
# probabilidad que al sacar la mitad de las bolas estas sumen 
# igual o mas del doble que las otras
num_balls = 10
options = it.permutations(range(1, num_balls+1))

#print(*options)
positive = [sum(o[:num_balls//2]) / sum(o[num_balls//2:]) >= 2 
            for o in options]
sum(positive) / len(positive)

In [ ]:
# 21. Con las cifras 1, 2 y 3 cuántos números de 5 cifraspueden formarse?
# Cuántos son divisibles por 7?
candidates = list(it.product(*([1, 2, 3] for _ in range(5))))
print(len(candidates))
div7 = [x for x in (int("".join((str(v) for v in c))) for c in candidates)
     if x % 7 == 0]
print(len(div7))

In [ ]:
# 22. Una mesa presidencial está formada por ocho personas, 
# ¿de cuántas formas distintas se pueden sentar, si el presidente 
# y el secretario siempre van juntos?
personas = "abcdefsp"
sentados = ["".join(x) for x in it.permutations(personas)]
positivos = [s for s in sentados if "ps" in s or "sp" in s]
#print(positivos)
print(len(positivos))