Pregunta 1. Dada una lista de tuplas que contienen números, devuelva una lista con el máximo de cada tupla

In [1]:
A = [(3, 4, 9), (2, -1, -9, 4), (6, 3, 1)]

In [3]:
[max(x) for x in A]

[9, 4, 6]

In [5]:
[max(*x) for x in A]

[9, 4, 6]

In [1]:
max(2, 3, 4, 5, 6)

6

In [5]:
def lolo(*x):
    print(x)
    
def cuco(a, b, c):
    print(a, b, c)

In [7]:
cuco(*[2, 3, 4])

2 3 4

In [6]:
list(map(max, A))

[9, 4, 6]

In [8]:
def my_max(V):
    result = V[0]
    for v in V[1:]:
        if v > result:
            result = v
    return result

[my_max(x) for x in A]

[9, 4, 6]

In [15]:
[sorted(x)[-1] for x in A]

[9, 4, 6]

Pregunta 2. Dada una lista de diccionarios, cada uno conteniendo los datos de una persona (nombres, edad, sexo), devuelva la suma de las edades de las mujeres que tienen un solo nombre.

In [10]:
P = [
    {"nombres":"Juana", "edad":23, "sexo":"F"},
    {"nombres":"Juan", "edad":35, "sexo":"M"},
    {"nombres":"Juana Camila", "edad":12, "sexo":"F"},
    {"nombres":"Juane", "edad":78, "sexo":"F"},
]

In [12]:
sum((v['edad'] for v in P if v['sexo']=="F" and ' ' not in v['nombres']))

101

In [17]:
sum((v['edad'] for v in P if v['sexo']!="M" and len(v['nombres'].split()) == 1))

101

In [19]:
mujeres = (p for p in P if p['sexo'] == "F")
mujeres_un_nombre = (p for p in mujeres if ' ' not in p['nombres'])
sum((m['edad'] for m in mujeres_un_nombre))

101

Pregunta 3. Dada una lista de números, devolver un diccionario con la cantidad de veces que aparece cada valor.

In [9]:
N = [2, 3, 4, 5, 3, 2, 4, 3, 2, 2]

In [21]:
cnt = {}
for n in N:
    if n in cnt:
        cnt[n] += 1
    else:
        cnt[n] = 1
cnt

{2: 4, 3: 3, 4: 2, 5: 1}

In [23]:
cnt = {}
for n in N:
    cnt[n] = cnt.get(n, 0) + 1
cnt

{2: 4, 3: 3, 4: 2, 5: 1}

In [25]:
cnt = {}
for n in N:
    if n not in cnt:
        cnt[n] = N.count(n)
cnt

{2: 4, 3: 3, 4: 2, 5: 1}

In [28]:
import itertools as it
cnt = {key: len(list(group)) for key, group in it.groupby(sorted(N))}
cnt

{2: 4, 3: 3, 4: 2, 5: 1}

In [29]:
import itertools as it
cnt = {key: sum((1 for _ in group)) for key, group in it.groupby(sorted(N))}
cnt

{2: 4, 3: 3, 4: 2, 5: 1}

In [10]:
{x: N.count(x) for x in range(max(N)+1) if N.count(x)>0}

{0: 0, 1: 0, 2: 4, 3: 3, 4: 2, 5: 1}